<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO Meta Tags -->
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="keywords" content="{{ keywords or site.keywords }}" />
    <meta name="author" content="{{ author or site.author }}" />

    <!-- Open Graph / Social Sharing -->
    <meta property="og:title" content="{{ title or site.title }}" />
    <meta
      property="og:description"
      content="{{ description or site.description }}"
    />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title or site.title }}" />
    <meta
      name="twitter:description"
      content="{{ description or site.description }}"
    />
    <meta name="twitter:image" content="{{ image or site.image }}" />

    <link rel="canonical" href="{{ url or site.url }}" />

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon.ico" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body class="bg-gradient-to-b from-gray-900 to-black text-white">
    <header
      class="fixed left-0 top-0 w-full bg-black bg-opacity-10 py-6 backdrop-blur-sm backdrop-filter"
    >
      <div class="container mx-auto flex items-center justify-center">
        <nav class="flex space-x-8">
          <a
            href="/"
            class="{% if page.url == '/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            HOME
          </a>
          <a
            href="/about"
            class="{% if page.url == '/about/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            ABOUT
          </a>
          <a
            href="/articles"
            class="{% if page.url == '/articles/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            ARTICLES
          </a>
          <a
            href="/contact"
            class="{% if page.url == '/contact/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            CONTACT
          </a>
        </nav>
      </div>
    </header>

    <main class="min-h-[80vh] pt-6">{{ content | safe }}</main>

    <footer class="mt-12 py-8">
      <div class="container mx-auto text-center">
        <nav class="mb-4 flex justify-center space-x-8">
          <a
            href="/"
            class="{% if page.url == '/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            HOME
          </a>
          <a
            href="/about"
            class="{% if page.url == '/about/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            ABOUT
          </a>
          <a
            href="/articles"
            class="{% if page.url == '/articles/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            ARTICLES
          </a>
          <a
            href="/contact"
            class="{% if page.url == '/contact/' %}text-white{% else %}text-gray-400{% endif %} text-[12px] font-semibold hover:text-white"
          >
            CONTACT
          </a>
        </nav>
        <img
          src="/assets/images/maro.jpeg"
          alt="Oghenemaro Okolosio"
          loading="lazy"
          class="mx-auto my-10 h-12 w-12 rounded-full border-2 border-white bg-white"
        />
        <p class="text-[12px] text-gray-500">
          Copyright © Oghenemaro Okolosio <span id="copyright-year"></span>
        </p>

        <p class="text-[12px] text-gray-500">UI Design by Leandro Rieger</p>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const yearSpan = document.getElementById("copyright-year");
        const currentYear = new Date().getFullYear();
        yearSpan.textContent = currentYear;
      });
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Oghenemaro Okolosio",
        "url": "https://omaro.netlify.app",
        "image": "https://omaro.netlify.app/images/profile.jpg",
        "sameAs": ["https://www.linkedin.com/in/oghenemaro-okolosio/"],
        "jobTitle": "Software Engineer",
        "worksFor": {
          "@type": "Organization",
          "name": "Stanbic IBTC Bank"
        }
      }
    </script>
  </body>
</html>
