@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

::-webkit-scrollbar {
  height: 100%;
  width: 8px;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: black;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #dedede;
  background-clip: content-box;
  background-color: #dedede;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  color: #dedede;
  font-weight: 400;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
