---
layout: layouts/main.njk
title: About
---

<section class="container mx-auto mb-[200px] px-4 pt-[160px]">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <h2 class="w-full font-normal md:w-1/4"></h2>
    <!-- TODO: Add apple playlist to website -->
    <div class="w-full text-gray-400 md:w-2/4">
      <div class="mb-3">
        <p class="text-[18px] text-white">I AM OGHENEMARO OKOLOSIO.</p>

        <p class="mt-5">
          A seasoned Software Engineer with extensive experience in building
          robust, scalable, and innovative solutions across multiple domains.
          With expertise in JavaScript, TypeScript, React, Angular, Node.js, and
          .NET Core, I have consistently delivered high-quality software for
          top-tier legacy organisations and startups, including Stanbic IBTC
          Bank, ITab Solutions, and Campusrunz. My strong background in both
          frontend and backend technologies enables me to take projects from
          concept to completion efficiently.
        </p>

        <p class="mt-5">
          Currently, I work at Stanbic IBTC Bank, where I have managed critical
          applications like
          <a
            href="https://www.instagram.com/reel/C82X0SHvmbc/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >EZ Cash</a
          >, an instant loan app, and developed the
          <a
            href="https://www.instagram.com/reel/CylTwV9Mq0I/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 underline"
            >Stanbic IBTC BNPL APIs</a
          >, which allows merchants to offer "Buy Now, Pay Later" services. My
          focus has been on optimizing application performance, reducing
          processing time, and enhancing feedback mechanisms, resulting in
          better user experience and increased business efficiency. My role
          spans from hands-on coding to problem-solving with cross-functional
          teams.
        </p>

        <p class="mt-5">
          In previous roles, I led the development of various products,
          including XFund, an asset management platform, and several full-stack
          applications for SMEs. I am passionate about leveraging technology to
          drive business success, implementing automation practices, and
          delivering user-centric solutions.
        </p>
      </div>
      <div class="mt-8 flex space-x-4">
        <a
          href="/contact"
          class="rounded bg-white px-8 py-5 font-bold text-black"
        >
          &rarr; Get In Touch
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://docs.google.com/document/d/1Ym8Yju7XsK1uO9oL3P6YlO0rQCv3v0Ua27kDCi7PKpQ/edit?usp=sharing"
          class="rounded border border-white bg-gray-800 px-8 py-5 font-bold"
        >
          &darr; My Resume
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto px-4 py-12">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <h2 class="w-full font-normal md:w-1/4">EXPERIENCE</h2>

    <div class="w-full text-gray-400 md:w-2/4">
      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Stanbic IBTC Bank, Software Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          ASP.Net MVC, ASP.Net Core, Angular, JQuery, Bootstrap, MSSQL, Azure,
          Docker
        </p>

        <p class="mb-2">
          Continuously upheld and executed enhancements on the
          <a
            href="https://www.instagram.com/reel/C82X0SHvmbc/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >EZ Cash</a
          >, an instant loan application, resulting in a noteworthy 24% surge in
          the overall uptime percentage.
        </p>

        <p class="mb-2">
          Optimised the administrative platform of EZ Cash to process bulk
          record uploads efficiently (> 100,000) within a reduced time-frame,
          slashing processing time from over 25 minutes to under 6 minutes.
        </p>

        <p class="mb-2">
          Enhance the feedback mechanisms employed by
          <a
            href="https://ienroll.stanbicibtc.com:8444/OnlineAccountOnboarding"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >Online Account Onboarding</a
          >
          administrators to effectively capture more precise errors and deliver
          valuable, actionable guidance to customers.
        </p>

        <p class="mb-3">
          Developed the BNPL API which enables merchants to offer eligible
          Stanbic IBTC account holders
          <a
            href="https://www.instagram.com/reel/CylTwV9Mq0I/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 underline"
            >Buy Now, Pay Later (BNPL) services</a
          >. Merchants receive immediate full payment for purchases, while
          customers enjoy flexible instalment repayments.
        </p>

        <p class="text-[14px] font-bold">December 2020 - Present</p>
      </div>

      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Itab Solutions, Frontend Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          React, Redux, Typescript, Styled Components, Bootstrap
        </p>

        <p class="mb-2">
          I built the web version of XFund - a top-notch asset and pension
          management app - using ReactJs.
        </p>

        <p class="mb-2">
          Crafted reusable React components within XFund, resulting in a
          remarkable 45% boost in positive client feedback from reviews.
        </p>

        <p class="mb-3">
          Engaged in monitoring and thoroughly documenting application changes
          and updates.
        </p>

        <p class="text-[14px] font-bold">March 2020 - September 2020</p>
      </div>

      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Matrix Web, Fullstack Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          Javascript, Express JS, Node Js, React, Svelte, Monogoose
        </p>

        <p class="mb-2">
          Successfully designed and developed full-stack applications for more
          than 10 businesses using JavaScript, achieving 100% client
          satisfaction and meeting project deadlines consistently.
        </p>

        <p class="mb-2">
          Implemented rigorous testing and automation practices that resulted in
          a remarkable 90% decrease in reported software bugs and a 50% rise in
          customer ratings.
        </p>

        <p class="mb-3">
          Explored emerging technologies and delivered dedicated technical
          support to clients.
        </p>

        <p class="text-[14px] font-bold">December 2018 - March 2020</p>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto px-4 py-12">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <h2 class="w-full font-normal md:w-1/4">PROJECTS</h2>

    <div class="w-full text-gray-400 md:w-2/4">
      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          CampusRunz, Frontend Engineer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          React, Typescript, Tailwind, Zustand, Redux, AWS
        </p>

        <p class="mb-2">
          <a
            href="https://campusrunz.com/"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >CampusRunz</a
          >
          is a digital utility platform that provides students with swift,
          convenient, reliable & quality delivery of any product/service anytime
          & anywhere. I have developed several projects for the company which
          include but are not limited to the following:
        </p>

        <p class="mb-2">
          <a
            href="http://onefinancemanager.com/"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >One Finance Manager</a
          >
          - A portal where account managers can manage sourceone wallet
          accounts.
        </p>

        <p class="mb-3">
          <a
            href="https://veloceety.com/"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >Veloceety</a
          >
          - A PWA application for delivery agents and transport works. Users can
          manage their delivery schedule or bus trips.
        </p>

        <p class="text-[14px] font-bold">November 2022 - Present</p>
      </div>
      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Prism, Frontend Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          React, Typescript, Tailwind, Zustand
        </p>
        <p class="mb-2">
          <a
            href="https://useprism.co/home"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >Prism</a
          >
          allows users to submit detailed reports, including the name of the
          business, its contact information, a description of the fraudulent
          activity, and any supporting documentation. Prism also provides users
          with resources and support, such as contact information for law
          enforcement agencies and consumer protection groups.
        </p>

        <p class="text-[14px] font-bold">January 2024</p>
      </div>
      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Deka Farms, Frontend Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">React, Typescript, Tailwind</p>

        <p class="mb-2">
          <a
            href="https://dekafarms.com"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >Deka Farms</a
          >
          is an agricultural firm in Lagos that supplies food crops and
          livestock. I developed their website showcasing the services they
          offer and other important information for potential customers.
        </p>

        <p class="text-[14px] font-bold">April 2024</p>
      </div>
      <div class="mb-10">
        <h3 class="mb-1 text-[18px] font-bold text-white">
          Seachems.ng, Fullstack Developer
        </h3>

        <p class="mb-5 text-[14px] font-bold">
          React, Typescript, Tailwind, Zustand, .NET Core, MSSQL
        </p>

        <p class="mb-2">
          Developed a cloud-based inventory system and store-front for Ocean
          Global Chemicals Nigeria. This platform helps Seachems manage multiple
          shop locations from a single platform, save time and money, improve
          efficiency and accuracy, and get real-time insights into their
          inventory and sales data.
        </p>

        <p class="mb-2">
          I designed and built this solution from scratch. The Backend runs on a
          .NET core API, while the
          <a
            href="https://seachems.ng/"
            target="_blank"
            class="text-blue-400 underline"
            rel="noopener noreferrer"
            >Store Front</a
          >
          and Admin portal were developed using React
        </p>

        <p class="text-[14px] font-bold">September 2023</p>
      </div>
    </div>
  </div>
</section>
