---
layout: layouts/altLayout.njk
eleventyNavigation:
  key: articles
  order: 3
pagination:
  data: collections.articles
  size: 10
  alias: articles
  # Define how the pagination should behave
  reverse: true # Optional, depending on if you want the articles in reverse order
title: "Articles by Oghenemaro Okolosio"
description: "Explore the latest articles and insights from Oghenemaro Okolosio, covering topics like software engineering, web development, and technology trends."
keywords: "Articles, Oghenemaro Okolosio, Software Engineering, Web Development, Technology Insights"
author: "Oghenemaro Okolosio"
url: "https://omaro.netlify.app/articles"
image: "https://omaro.netlify.app/assets/images/maro.jpeg"
---

<section
  class="mx-auto mb-[160px] w-[95%] pt-[60px] text-gray-400 md:w-2/3 lg:w-1/2"
>
  <header class="mb-4">
    <div class="flex items-center justify-center">
      <h5
        class="mb-5 mt-4 inline-flex bg-gradient-to-r from-blue-500 to-blue-200 bg-clip-text text-center text-xl font-normal text-transparent"
      >
        Tech Chronicles: Insights and Innovations
      </h5>
    </div>
  </header>

  <main class="flex flex-col items-center pt-6">
    {% for article in articles %}
      <div
        class="group mb-16 flex w-full justify-between gap-5 border-b-0 border-b-gray-500 transition duration-300 ease-in-out hover:cursor-pointer sm:w-[90%]"
      >
        <a
          href="{{ article.url }}"
          class="flex w-full flex-col justify-start gap-5 text-gray-400 sm:flex-row"
        >
          <div class="w-full overflow-hidden md:w-[200px] md:max-w-[200px]">
            <img
              src="{{ article.data.image }}"
              loading="lazy"
              alt="Article Image"
              class="h-[180px] w-full rounded object-cover transition duration-300 ease-in-out group-hover:scale-105 md:h-[100px]"
            />
          </div>
          <div class="w-full md:w-2/3">
            <p class="text-xs font-light">{{ article.data.category }}</p>
            <h3 class="text-lg font-medium group-hover:underline">
              {{ article.data.title }}
            </h3>
            <p class="my-3 text-sm">{{ article.data.description }}</p>
            <p class="text-xs font-light italic">
              {{ article.date | date('MMMM d, yyyy') }} ·
              {% set wordCount = article.content | wordCount %}
              {{ (wordCount / 250) | round }}
              min read
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </main>

  <div class="mt-5">
    {% if pagination.pages.length > 1 %}
      <nav
        aria-label="Post pages"
        class="flex w-full items-center justify-center gap-2"
      >
        <div>
          {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}" class="page-btn">
              <span class="iconify text-2xl ion--play-back-sharp"></span>
            </a>
          {% else %}
            <div class="page-btn cursor-not-allowed" aria-disabled="true">
              <span class="iconify text-lg ion--play-back-sharp"></span>
            </div>
          {% endif %}
        </div>
        <div>
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" class="page-btn">
              <span class="iconify text-lg ion--caret-back-sharp"></span>
            </a>
          {% else %}
            <div class="page-btn hover:cursor-not-allowed" aria-disabled="true">
              <span class="iconify text-lg ion--caret-back-sharp"></span>
            </div>
          {% endif %}
        </div>
        {%- for pageEntry in pagination.pages %}
          <div>
            <a
              href="{% if loop.index == 1 %}/articles{% else %}{{ pagination.hrefs[ loop.index0 ] }}{% endif %}"
              {% if page.url == pagination.hrefs[ loop.index0 ] %}
                aria-current="page" class="page-btn border !border-blue-500
                !bg-transparent !text-blue-500 font-bold"
              {% else %}
                class="page-btn border border-gray-600 !bg-transparent"
              {% endif %}
            >
              {{ loop.index }}
            </a>
          </div>
        {%- endfor %}
        <div>
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" class="page-btn">
              <span class="iconify text-lg ion--caret-forward-sharp"></span>
            </a>
          {% else %}
            <div class="page-btn cursor-not-allowed" aria-disabled="true">
              <span class="iconify text-lg ion--caret-forward-sharp"></span>
            </div>
          {% endif %}
        </div>
        <div>
          {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}" class="page-btn">
              <span class="iconify text-lg ion--play-forward-sharp"></span>
            </a>
          {% else %}
            <div class="page-btn hover:cursor-not-allowed" aria-disabled="true">
              <span class="iconify text-lg ion--play-forward-sharp"></span>
            </div>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </div>
</section>
