---
layout: layouts/main.njk
pagination:
  data: collections.articles
  size: 5
  alias: articles
title: "Articles by Oghenemaro Okolosio"
description: "Explore the latest articles and insights from Oghenemaro Okolosio, covering topics like software engineering, web development, and technology trends."
keywords: "Articles, Oghenemaro Okolosio, Software Engineering, Web Development, Technology Insights"
author: "Oghenemaro Okolosio"
url: "https://omaro.netlify.app/articles"
image: "https://omaro.netlify.app/assets/images/maro.jpeg"
---

<section class="container mx-auto mb-[200px] px-4 pt-[160px]">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <div class="w-full md:w-1/4">
      <p
        class="inline-flex bg-gradient-to-r from-blue-500 to-blue-200 bg-clip-text font-normal text-transparent"
      >
        ARTICLES
      </p>
    </div>

    <div class="w-full text-gray-400 md:w-2/4">
      <p class="">Page is under construction</p>
    </div>
  </div>
</section>
