---
title: "Oghenemaro Okolosio - Software Engineer"
description: "Welcome to the personal website of Oghenemaro Okolosio, a Software Engineer with expertise in backend services, full-stack development, and system optimization. Discover my projects and experience."
keywords: "Oghenemaro Okolosio, Software Engineer, Full Stack Developer, Backend Development, Projects"
author: "Oghenemaro Okolosio"
url: "https://omaro.netlify.app/home"
image: "https://omaro.netlify.app/assets/images/maro.jpeg"
layout: layouts/main.njk
---

<!-- Hero Section -->
<section class="mb-[200px] flex flex-col items-center pt-[160px] text-center">
  <img
    src="/assets/images/maro.jpeg"
    alt="Profile"
    loading="lazy"
    class="mb-5 h-24 w-24 rounded-full bg-white"
  />
  <h1 class="mb-10 capitalize">
    <p
      class="inline-flex bg-gradient-to-r from-blue-500 to-blue-200 bg-clip-text text-2xl font-semibold text-transparent text-white"
    >
      Oghenemaro Okolosio
    </p>
    <p class="block text-sm text-gray-400">Software Engineer</p>
  </h1>
  <div class="flex space-x-4">
    <a
      href="/contact"
      class="rounded bg-white px-8 py-2 text-xs font-semibold text-black"
    >
      &rarr; Get In Touch
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://docs.google.com/document/d/1gq_vYZ3CEDzVkLXDMGbFHmYVXHPRBH0y2awXbaBVxec/edit?usp=sharing"
      class="rounded border border-white bg-gray-800 px-8 py-2 text-xs font-semibold"
    >
      &darr; My Resume
    </a>
  </div>
</section>

<!-- About Section -->
<section class="container mx-auto px-4 py-12">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <div class="w-full md:w-1/4">
      <p
        class="inline-flex bg-gradient-to-r from-blue-500 to-blue-200 bg-clip-text font-normal text-transparent"
      >
        ABOUT
      </p>
    </div>
    <p class="w-full text-gray-400 md:w-2/4">
      A seasoned Software Engineer with extensive experience in building robust,
      scalable, and innovative solutions across multiple domains. With expertise
      in JavaScript, TypeScript, React, Angular, Node.js, and .NET Core, I have
      consistently delivered high-quality software for top-tier legacy
      organisations and startups, including Stanbic IBTC Bank, ITab Solutions,
      and Campusrunz. My strong background in both frontend and backend
      technologies enables me to take projects from concept to completion
      efficiently.
    </p>
  </div>
</section>

<section class="container mx-auto px-4 py-12">
  <div class="flex flex-col justify-start gap-5 md:flex-row">
    <div class="w-full md:w-1/4">
      <p
        class="inline-flex bg-gradient-to-r from-blue-500 to-blue-200 bg-clip-text font-normal text-transparent"
      >
        SOME WORKS
      </p>
    </div>

    <div class="w-full text-gray-400 md:w-2/4">
      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://ezcash.stanbicibtc.com/ezcash"
            class="font-medium italic underline"
            >EZ Cash</a
          >
        </div>
        <p>A loan platform for quick and seamless loan applications.</p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a href="https://campusrunz.com" class="font-medium italic underline"
            >CampusRunz</a
          >
        </div>
        <p>
          A platform designed to simplify student life by offering convenient
          and affordable services.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://ezcash.stanbicibtc.com/StanbicBNPLWEB/#/registration"
            class="font-medium italic underline"
            >Stanbic BNPL</a
          >
        </div>
        <p>
          A Buy Now Pay Later platform allowing merchants to offer flexible
          installment payments with real-time feedback and integration.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://ienroll.stanbicibtc.com:8444/OnlineAccountOnboarding"
            class="font-medium italic underline"
            >Online Account Onboarding</a
          >
        </div>
        <p>
          A digital solution for onboarding new bank accounts, streamlining KYC
          documentation and error feedback mechanisms.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://admin.busbuzzer.com/"
            class="font-medium italic underline"
            >BusBuzzer Admin</a
          >
        </div>
        <p>
          A web admin panel for managing school transportation services with
          real-time tracking and route optimization.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://usewebeffects-001-site1.atempurl.com/swagger/index.html"
            class="font-medium italic underline"
            >Proquotes</a
          >
        </div>
        <p>
          An API for managing customer quotation requests, enabling merchants to
          streamline communication and send detailed quotes efficiently.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://www.itapsolutions.com/"
            class="font-medium italic underline"
            >Xfund</a
          >
        </div>
        <p>
          A portfolio and asset management system with features like automated
          valuations, financial instrument tracking, and reporting tools.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a
            href="https://useprism.co/home"
            class="font-medium italic underline"
            >Prism</a
          >
        </div>
        <p>
          A fraud reporting platform enabling users to submit detailed reports,
          access law enforcement contacts, and consumer protection resources.
        </p>
      </div>

      <div class="group mb-5">
        <div>
          <div
            class="inline-block h-[8px] w-[8px] bg-gray-400 group-hover:bg-white"
          ></div>
          <a href="https://dekafarms.com" class="font-medium italic underline"
            >Deka Farms</a
          >
        </div>
        <p>
          A responsive website showcasing agricultural services, food crops, and
          livestock to attract and engage potential customers.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Articles Section -->
<!--
<section class="container mx-auto px-4 py-12">
    <div class="flex justify-between flex-col md:flex-row gap-5">
        <h2 class="mb-4 w-full md:w-1/4 font-normal">ARTICLES</h2>

        <div class="w-full md:w-3/4">
          {% for article in collections.articles.slice(0, 3) %}
  <div
    class="group mb-10 flex justify-between gap-5 rounded p-2 transition duration-300 ease-in-out hover:cursor-pointer"
  >
    <a
      href="{{ article.url }}"
      class="flex w-full flex-col-reverse gap-5 md:flex-row"
    >
      <div class="w-full md:w-2/3">
        <h3 class="mb-5 text-[18px] font-semibold">{{ article.data.title }}</h3>
        <p class="mb-5 text-gray-400">{{ article.data.description }}</p>
        <p class="text-[12px] font-semibold text-white">
          {{ article.date | date('MMMM d, yyyy') }} ·
          {{ article.content | length | divide(200) | round }} min read
        </p>
      </div>
      <div class="w-full overflow-hidden md:w-1/3">
        <img
          src="{{ article.data.image }}"
          loading="lazy"
          alt="Article Image"
          class="h-[260px] w-full rounded transition duration-300 ease-in-out group-hover:scale-105 md:h-[160px] md:w-[200px]"
        />
      </div>
    </a>
  </div>
{% endfor %}
        </div>
    </div>
  <div class="mt-8 text-center">
    <a href="/articles" class="rounded border border-white bg-gray-800 px-8 py-5 font-semibold">
      &rarr; Read more
    </a>
  </div>
</section>
-->
